<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li class="active">Search results</li>
</ol>

<!-- Search block -->
<!--<div class="searchblock">-->
  <!--<form role="form" class="form-horizontal">-->
    <!--<div class="row searchcolumns">-->
      <!--<div class="col-lg-4">-->
        <!--<h3>Product</h3>-->
        <!--<input type="text" class="form-control" placeholder="Product title">-->
        <!--<select class="form-control category-select" placeholder="Category">-->
          <!--<option>Category 1</option>-->
          <!--<option>Category 2</option>-->
        <!--</select>-->
      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<h3>Current price</h3>-->

        <!--<div class="price-inputs">-->
          <!--<div class="input-group col-lg-6 search-start-price">-->
            <!--<span class="input-group-addon">$</span>-->
            <!--<input type="text" class="form-control" placeholder="1000" id="start-price-input">-->
          <!--</div>-->
          <!--<div class="input-group col-lg-6 search-end-price">-->
            <!--<span class="input-group-addon">$</span>-->
            <!--<input type="text" class="form-control" placeholder="1500" id="end-price-input">-->
          <!--</div>-->
          <!--<div class="clearfix"></div>-->
        <!--</div>-->



        <!--<div class="price-slider">-->
          <!--<input id="price-slider" w32App-slider type="text" class="span2" value="" data-slider-min="900" data-slider-max="1800" data-slider-step="5" data-slider-value="[1000,1500]"/>-->
        <!--</div>-->

      <!--</div>-->
      <!--<div class="col-lg-4">-->
        <!--<h3>Max auction close date</h3>-->
        <!--<div class="input-group">-->
          <!--<input type="text" class="form-control" id="max-date" placeholder="dd/mm/yyyy">-->
          <!--<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>-->
        <!--</div>-->

        <!--<div class="num-bids">-->
          <!--<label for="number-of-bids">Number of Bids</label>-->
          <!--<div class="input-group spinner numbids-spinner">-->
            <!--<input type="text" id="number-of-bids" class="form-control" value="3" max="999" min="0" maxlength="3">-->
            <!--<div class="input-group-btn-vertical">-->
              <!--<button class="btn btn-default"><i class="fa fa-caret-up"></i></button>-->
              <!--<button class="btn btn-default"><i class="fa fa-caret-down"></i></button>-->
            <!--</div>-->
          <!--</div>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row find-now">-->
      <!--<div class="col-sm-12">-->
        <!--<button class="btn btn-primary btn-lg center-block">Find now</button>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
<!-- End search block -->

<!-- Products block -->
<div class="row products-row" id="search-products">
  <ul class="list-unstyled">

    <li class="col-md-6 serch-item" ng-repeat="product in ctrl.products">
      <div class="row search-row">
        <div class="col-md-4">
          <a href="javascript:void(0)"><img ng-src="images/{{ product.thumb }}"  alt="" class="img-responsive"></a>
        </div>

        <div class="col-md-8">
          <h2><a href="javascript:void(0)">{{ product.title }}</a></h2>

          <p>
            <b>Item's description:</b>
              {{ product.description }}
          </p>
        </div>
      </div>
      <div class="row search-row search-details">
        <div class="col-xs-4 text-center">
          <span class="label label-default">{{ product.timeleft }} hour left</span>
        </div>
        <div class="col-xs-4">
              <span class="label label-default">
                <span class="glyphicon glyphicon-eye-open"></span> {{ product.watchers }} watchers
              </span>
        </div>
        <div class="col-xs-4">
              <span class="label label-default">
                <span class="glyphicon glyphicon-usd"></span> {{ product.price | currency }}
              </span>
        </div>
      </div>
    </li>



  </ul>
</div>
<!-- End products block -->
